# Combination of Data Frames

This file combines each of the data frames that are in the data collection code and sorts them into one file that can be grabbed for the regression models.
There is some trial and error that is in this code, but it completed all the work for combining the csv files

In [7]:
df_merged = pd.concat([df1, df2, df3, df4, df5, df6, df7]) # merge data from all dataframes

In [8]:
df_merged.sort_values(by="player_name", inplace=True)

In [10]:
df_merged.to_csv("cleaned_data.csv", index=False) # save to a single CSV file

In [11]:
df_2016_test = pd.read_csv("2016_RB_data_wTD")

In [13]:
df_grouped

                            week  rushing_yards  touchdown  fumble
player_name     game_date
Aaron Ripkowski 2016-10-09   5.0           17.0        0.0     0.0
                2016-10-16   6.0            0.0        0.0     0.0
                2016-10-20   7.0            8.0        0.0     0.0
                2016-10-30   8.0           34.0        0.0     0.0
                2016-11-06   9.0            4.0        0.0     0.0
...                          ...            ...        ...     ...
Zach Zenner     2016-12-04  13.0           40.0        0.0     0.0
                2016-12-11  14.0           36.0        0.0     0.0
                2016-12-18  15.0           12.0        0.0     1.0
                2016-12-26  16.0           67.0        2.0     0.0
                2017-01-01  17.0           69.0        1.0     0.0

[1941 rows x 4 columns]

In [3]:
import pandas as pd

In [2]:
year1 = pd.read_csv("2022_QB_data_wMistakes2.csv")
year2 = pd.read_csv("2021_QB_data_wMistakes2.csv")
year3 = pd.read_csv("2020_QB_data_wMistakes2.csv")

In [3]:
test_merge = pd.concat([year1,year2,year3]) # merge data from all dataframes

In [4]:
test_merge.sort_values(by="player_name", inplace=True)

In [5]:
test_merge

       player_name  passing_yards  pass_touchdown  sack  interception
0       A.J. Brown            0.0             0.0   0.0           0.0
0      AJ McCarron           20.0             0.0   1.0           0.0
1    Aaron Rodgers         4115.0            37.0  30.0           4.0
1    Aaron Rodgers         4299.0            48.0  20.0           5.0
0    Aaron Rodgers         3695.0            26.0  32.0          12.0
..             ...            ...             ...   ...           ...
113   Tyrod Taylor          208.0             0.0   2.0           0.0
114    Zach Pascal            0.0             0.0   0.0           0.0
111    Zach Wilson         1688.0             6.0  23.0           7.0
118    Zach Wilson         2334.0             9.0  44.0          11.0
115      Zay Jones           29.0             0.0   0.0           0.0

[347 rows x 5 columns]

In [2]:
import numpy as np

In [24]:
test_merge_avg = test_merge.groupby(["player_name"]).mean()

In [23]:
test_merge["F_points"] = ((test_merge["passing_yards"]) //(25))+ ((test_merge["pass_touchdown"])*(4))-(test_merge["sack"]) - (test_merge["interception"]*2)

In [29]:
mean_of_player = np.mean(test_merge_avg, axis=1)

In [30]:
mean_of_player

player_name    passing_yards  pass_touchdown  sack  interception
A.J. Brown     0.0            0.0             0.0   0.0            NaN
AJ McCarron    20.0           0.0             1.0   0.0            NaN
Aaron Rodgers  3695.0         26.0            32.0  12.0           NaN
               4115.0         37.0            30.0  4.0            NaN
               4299.0         48.0            20.0  5.0            NaN
                                                                    ..
Tyrod Taylor   966.0          5.0             13.0  5.0            NaN
Zach Pascal    0.0            0.0             0.0   0.0            NaN
Zach Wilson    1688.0         6.0             23.0  7.0            NaN
               2334.0         9.0             44.0  11.0           NaN
Zay Jones      29.0           0.0             0.0   0.0            NaN
Length: 343, dtype: float64

In [25]:
test_merge_avg

,passing_yards,pass_touchdown,sack,interception,F_points
player_name,,,,,
A.J. Brown,0.000000,0.000000,0.000000,0.000000,0.000000
AJ McCarron,20.000000,0.000000,1.000000,0.000000,-1.000000
Aaron Rodgers,4036.333333,37.000000,27.333333,7.000000,267.333333
Adam Humphries,0.000000,0.000000,1.000000,0.000000,-1.000000
Albert Wilson,0.000000,0.000000,1.000000,0.000000,-1.000000
...,...,...,...,...,...
Tyler Huntley,584.666667,1.666667,8.333333,2.333333,16.666667
Tyrod Taylor,410.666667,2.000000,6.000000,2.000000,14.000000
Zach Pascal,0.000000,0.000000,0.000000,0.000000,0.000000
Zach Wilson,2011.000000,7.500000,33.500000,9.000000,58.500000
Zay Jones,29.000000,0.000000,0.000000,0.000000,1.000000

In [44]:
test_merge_avg = test_merge_avg.drop(columns="mean")

In [45]:
test_merge_avg

                passing_yards  pass_touchdown       sack  interception
player_name
A.J. Brown           0.000000        0.000000   0.000000      0.000000
AJ McCarron         20.000000        0.000000   1.000000      0.000000
Aaron Rodgers     4036.333333       37.000000  27.333333      7.000000
Adam Humphries       0.000000        0.000000   1.000000      0.000000
Albert Wilson        0.000000        0.000000   1.000000      0.000000
...                       ...             ...        ...           ...
Tyler Huntley      584.666667        1.666667   8.333333      2.333333
Tyrod Taylor       410.666667        2.000000   6.000000      2.000000
Zach Pascal          0.000000        0.000000   0.000000      0.000000
Zach Wilson       2011.000000        7.500000  33.500000      9.000000
Zay Jones           29.000000        0.000000   0.000000      0.000000

[193 rows x 4 columns]

In [26]:
test_merge_avg.to_csv("QB_season_mean_train.csv")

In [27]:
year1_ = pd.read_csv("2019_QB_data_wMistakes2.csv")
year2_ = pd.read_csv("2018_QB_data_wMistakes2.csv")
year3_ = pd.read_csv("2017_QB_data_wMistakes2.csv")
year4_ = pd.read_csv("2016_QB_data_wMistakes2.csv")

In [28]:
test_merge2 = pd.concat([year1_,year2_,year3_, year4_])

In [46]:
test_merge2.sort_values(by="player_name", inplace=True)

In [32]:
test_merge_avg2.to_csv("QB_season_mean_test.csv")

In [29]:
test_merge2["F_points"] = ((test_merge2["passing_yards"] //(25))+ (test_merge2["pass_touchdown"]*(4))-(test_merge2["sack"]) - (test_merge2["interception"]*2))

In [49]:
test_merge2

,player_name,passing_yards,pass_touchdown,sack,interception,F_points
0,AJ McCarron,225.0,0.0,5.0,1.0,4.00
0,AJ McCarron,8.0,0.0,1.0,0.0,0.32
0,AJ McCarron,66.0,0.0,1.0,0.0,2.64
1,Aaron Rodgers,4002.0,26.0,36.0,4.0,147.08
1,Aaron Rodgers,4442.0,25.0,49.0,2.0,152.68
...,...,...,...,...,...,...
103,Tyrod Taylor,33.0,1.0,0.0,0.0,3.32
104,Will Grier,228.0,0.0,6.0,4.0,0.12
93,Willie Snead,50.0,1.0,0.0,0.0,4.00
105,Zach Pascal,0.0,0.0,0.0,0.0,1.00
106,Zay Jones,0.0,0.0,0.0,0.0,1.00

In [30]:
test_merge_avg2 = test_merge2.groupby(["player_name"]).mean()

In [31]:
test_merge_avg2

,passing_yards,pass_touchdown,sack,interception,F_points
player_name,,,,,
AJ McCarron,99.666667,0.00,2.333333,0.333333,0.666667
Aaron Rodgers,3636.750000,26.75,35.500000,4.750000,207.250000
Albert Wilson,36.000000,0.50,0.500000,0.000000,2.500000
Alex Erickson,26.000000,0.00,0.000000,0.000000,1.000000
Alex Smith,3241.333333,17.00,28.333333,6.000000,157.000000
...,...,...,...,...,...
Tyrod Taylor,1582.000000,8.50,25.250000,3.000000,65.250000
Will Grier,228.000000,0.00,6.000000,4.000000,-5.000000
Willie Snead,50.000000,1.00,0.000000,0.000000,6.000000
Zach Pascal,0.000000,0.00,0.000000,0.000000,0.000000
Zay Jones,0.000000,0.00,0.000000,0.000000,0.000000

In [6]:
year1rb = pd.read_csv("2022_RB_data.csv")
year2rb = pd.read_csv("2021_RB_data.csv")
year3rb = pd.read_csv("2020_RB_data.csv")

In [7]:
merge_rb = pd.concat([year1rb,year2rb,year3rb])

In [11]:
merge_rb

        player_name  rushing_yards  touchdown  fumble  F_points
0        A.J. Brown           10.0        0.0     0.0       1.0
0         A.J. Cole            0.0        0.0     1.0      -2.0
1       A.J. Dillon          803.0        5.0     1.0     108.0
1       A.J. Dillon          242.0        2.0     0.0      36.0
0       A.J. Dillon          770.0        7.0     1.0     117.0
..              ...            ...        ...     ...       ...
347     Zamir White           70.0        0.0     0.0       7.0
348  Zander Horvath            8.0        0.0     0.0       0.0
363       Zay Jones            3.0        0.0     0.0       0.0
349       Zay Jones           18.0        0.0     0.0       1.0
350  Zonovan Knight          300.0        1.0     1.0      34.0

[1082 rows x 5 columns]

In [9]:
merge_rb["F_points"] = ((merge_rb["rushing_yards"] //(10))+ 6*(merge_rb["touchdown"]) - (2*merge_rb["fumble"]))

In [10]:
merge_rb.sort_values(by="player_name", inplace=True)

In [12]:
merge_rb_avg = merge_rb.groupby(["player_name"]).mean()

In [13]:
merge_rb_avg

                rushing_yards  touchdown    fumble    F_points
player_name
A.J. Brown          10.000000   0.000000  0.000000    1.000000
A.J. Cole            0.000000   0.000000  1.000000   -2.000000
A.J. Dillon        605.000000   4.666667  0.666667   87.000000
Aaron Jones       1008.000000   5.000000  1.666667  127.000000
Aaron Rodgers      127.000000   2.333333  2.666667   21.000000
...                       ...        ...       ...         ...
Zack Moss          427.333333   3.000000  0.333333   59.666667
Zamir White         70.000000   0.000000  0.000000    7.000000
Zander Horvath       8.000000   0.000000  0.000000    0.000000
Zay Jones           10.500000   0.000000  0.000000    0.500000
Zonovan Knight     300.000000   1.000000  1.000000   34.000000

[585 rows x 4 columns]

In [26]:
merge_rb_avg.to_csv("RB_season_mean_test.csv")

In [27]:
year1rb2 = pd.read_csv("2019_RB_data.csv")
year2rb2 = pd.read_csv("2018_RB_data.csv")
year3rb2 = pd.read_csv("2017_RB_data.csv")
year4rb2 = pd.read_csv("2016_RB_data.csv")

In [31]:
merge_rb2 = pd.concat([year1rb2,year2rb2,year3rb2,year4rb2])

In [35]:
merge_rb2.sort_values(by="player_name", inplace=True)

In [34]:
merge_rb2

     player_name  rushing_yards  touchdown  fumble
0     A.J. Brown           60.0        1.0     0.0
0    AJ McCarron            0.0        0.0     0.0
1    AJ McCarron           39.0        1.0     0.0
2    Aaron Jones         1084.0       16.0     2.0
1    Aaron Jones          728.0        8.0     1.0
..           ...            ...        ...     ...
333  Zach Zenner          265.0        3.0     0.0
307  Zach Zenner           26.0        1.0     0.0
319  Zach Zenner          334.0        4.0     1.0
326    Zay Jones            3.0        0.0     0.0
334    Zay Jones            0.0        0.0     0.0

[1290 rows x 4 columns]

In [39]:
merge_rb_avg2 = merge_rb2.groupby(["player_name"]).mean()

In [38]:
merge_rb2["F_points"] = ((merge_rb2["rushing_yards"] //(10))+ (merge_rb2["touchdown"]*(6)) - (merge_rb2["fumble"]*2))

In [40]:
merge_rb_avg2

                 rushing_yards  touchdown    fumble  F_points
player_name
A.J. Brown           60.000000   1.000000  0.000000     12.00
AJ McCarron          19.500000   0.500000  0.000000      4.50
Aaron Jones         753.333333   9.333333  1.333333    128.00
Aaron Ripkowski      81.500000   1.000000  0.000000     14.00
Aaron Rodgers       248.250000   1.750000  1.750000     31.50
...                        ...        ...       ...       ...
Willie Snead          7.500000   0.000000  0.000000      0.50
Zach Line            26.000000   0.000000  0.000000      2.25
Zach Pascal          13.000000   0.000000  0.000000      1.00
Zach Zenner         155.750000   2.000000  0.250000     26.50
Zay Jones             1.500000   0.000000  0.000000      0.00

[645 rows x 4 columns]

In [41]:
merge_rb_avg2.to_csv("RB_season_mean_train.csv")

In [42]:
year1wr = pd.read_csv("2022_WR_data.csv")
year2wr = pd.read_csv("2021_WR_data.csv")
year3wr = pd.read_csv("2020_WR_data.csv")

In [43]:
merge_wr = pd.concat([year1wr,year2wr,year3wr])

In [44]:
merge_wr.sort_values(by="player_name", inplace=True)

In [46]:
merge_wr["F_points"] = (merge_wr["complete_pass"] + (merge_wr["receiving_yards"] //(10))+ (merge_wr["touchdown"]*(6)) - (merge_wr["fumble"]*2))

In [47]:
merge_wr_avg = merge_wr.groupby(["player_name"]).mean()

In [48]:
merge_wr_avg

,complete_pass,receiving_yards,touchdown,fumble,F_points
player_name,,,,,
A.J. Brown,73.666667,1146.666667,9.666667,1.333333,243.000000
A.J. Dillon,21.333333,180.000000,0.666667,0.666667,41.666667
A.J. Green,41.666667,535.666667,2.333333,0.333333,108.000000
Aaron Brewer,0.000000,0.000000,0.000000,0.000000,0.000000
Aaron Jones,52.666667,380.333333,4.333333,1.333333,113.666667
...,...,...,...,...,...
Zach Wilson,0.500000,1.000000,0.500000,0.000000,3.500000
Zack Moss,16.000000,110.333333,0.666667,0.666667,29.000000
Zander Horvath,5.000000,8.000000,2.000000,0.000000,17.000000
Zay Jones,47.666667,511.333333,2.333333,0.333333,111.666667
Zonovan Knight,13.000000,100.000000,0.000000,1.000000,21.000000

In [49]:
merge_wr_avg.to_csv("WR_season_mean_test.csv")

In [50]:
year1wr2 = pd.read_csv("2019_WR_data.csv")
year2wr2 = pd.read_csv("2018_WR_data.csv")
year3wr2 = pd.read_csv("2017_WR_data.csv")
year4wr2 = pd.read_csv("2016_WR_data.csv")

In [51]:
merge_wr2 = pd.concat([year1wr2,year2wr2,year3wr2,year4wr2])

In [52]:
merge_wr2.sort_values(by="player_name", inplace=True)

In [54]:
merge_wr2["F_points"] = (merge_wr2["complete_pass"] + (merge_wr2["receiving_yards"] //(10))+ (merge_wr2["touchdown"]*(6)) - (merge_wr2["fumble"]*2))

In [55]:
merge_wr_avg2 = merge_wr2.groupby(["player_name"]).mean()

In [57]:
merge_wr_avg2.to_csv("WR_season_mean_train.csv")

In [5]:
year1 = pd.read_csv("2022_QB_data_wYear")
year2 = pd.read_csv("2021_QB_data_wYear")
year3 = pd.read_csv("2020_QB_data_wYear")

In [7]:
year1

        player_name  pass_touchdown  passing_yards  sack  interception  Year
0     Aaron Rodgers            26.0         3695.0  32.0          12.0  2022
1      Amari Cooper             0.0            0.0   0.0           1.0  2022
2       Andy Dalton            18.0         2871.0  25.0           9.0  2022
3          Andy Lee             0.0            4.0   0.0           0.0  2022
4     Anthony Brown             0.0          302.0   5.0           2.0  2022
..              ...             ...            ...   ...           ...   ...
107  Tua Tagovailoa            25.0         3548.0  21.0           8.0  2022
108      Tyler Boyd             0.0           23.0   1.0           0.0  2022
109   Tyler Huntley             2.0          658.0   7.0           3.0  2022
110    Tyrod Taylor             1.0           58.0   3.0           1.0  2022
111     Zach Wilson             6.0         1688.0  23.0           7.0  2022

[112 rows x 6 columns]

In [6]:
test_merge_QB = pd.concat([year1,year2,year3])
test_merge_QB["F_points"] = ((test_merge_QB["passing_yards"] //(25))+ (test_merge_QB["pass_touchdown"]*(4))-(test_merge_QB["sack"]) - (test_merge_QB["interception"]*2))
test_merge_QB

,player_name,pass_touchdown,passing_yards,sack,interception,Year,F_points
0,Aaron Rodgers,26.0,3695.0,32.0,12.0,2022,195.0
1,Amari Cooper,0.0,0.0,0.0,1.0,2022,-2.0
2,Andy Dalton,18.0,2871.0,25.0,9.0,2022,143.0
3,Andy Lee,0.0,4.0,0.0,0.0,2022,0.0
4,Anthony Brown,0.0,302.0,5.0,2.0,2022,3.0
...,...,...,...,...,...,...,...
111,Tyler Bray,0.0,18.0,0.0,0.0,2020,0.0
112,Tyler Huntley,0.0,15.0,0.0,0.0,2020,0.0
113,Tyrod Taylor,0.0,208.0,2.0,0.0,2020,6.0
114,Zach Pascal,0.0,0.0,0.0,0.0,2020,0.0
115,Zay Jones,0.0,29.0,0.0,0.0,2020,1.0

In [7]:
test_merge_QB.to_csv("QB_2020-2022test.csv")

In [4]:
import pandas as pd
year1 = pd.read_csv("QB_data_results_2016")
year2 = pd.read_csv("QB_data_results_2017")
year3 = pd.read_csv("QB_data_results_2018")
year4 = pd.read_csv("QB_data_results_2019")
year5 = pd.read_csv("QB_data_results_2020")
year6 = pd.read_csv("QB_data_results_2021")
year7 = pd.read_csv("QB_data_results_2022")

In [5]:
test_merge_QB = pd.concat([year1,year2,year3,year4,year5,year6,year7])

In [6]:
test_merge_QB.to_csv("QB_data_results_all_years")

In [19]:
test_merge_QB["F_points"] = ((test_merge_QB["passing_yards"] //(25))+ (test_merge_QB["pass_touchdown"]*(4))-(test_merge_QB["sack"]) - (test_merge_QB["interception"]*2))

In [20]:
test_merge_QB

,player_name,pass_touchdown,passing_yards,sack,interception,Year,F_points
0,AJ McCarron,0.0,225.0,5.0,1.0,2019,2.0
1,Aaron Rodgers,26.0,4002.0,36.0,4.0,2019,220.0
2,Albert Wilson,0.0,20.0,1.0,0.0,2019,-1.0
3,Alex Erickson,0.0,26.0,0.0,0.0,2019,1.0
4,Alex Tanney,0.0,1.0,0.0,0.0,2019,0.0
...,...,...,...,...,...,...,...
89,Tress Way,0.0,31.0,0.0,0.0,2016,1.0
90,Trevone Boykin,1.0,145.0,1.0,1.0,2016,6.0
91,Trevor Siemian,18.0,3401.0,31.0,10.0,2016,157.0
92,Tyrod Taylor,17.0,3023.0,42.0,6.0,2016,134.0
93,Willie Snead,1.0,50.0,0.0,0.0,2016,6.0